# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files
- repo: https://github.com/psf/black
  rev: 19.3b0
  hooks:
  - id: black
    args: [-l 79]
- repo: https://github.com/kynan/nbstripout
  rev: master
  hooks:
  - id: nbstripout
    files: ".ipynb"
- repo: https://github.com/econchick/interrogate
  rev: 1.1.5
  hooks:
  - id: interrogate
    args: [-c, pyproject.toml]
- repo: https://github.com/terrencepreilly/darglint
  rev: master
  hooks:
  - id: darglint
    args: [-v 2]
