# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files
- repo: https://github.com/psf/black
  rev: 21.7b0
  hooks:
  - id: black
    args: [--config, pyproject.toml]
- repo: https://github.com/kynan/nbstripout
  rev: 0.5.0
  hooks:
  - id: nbstripout
    files: ".ipynb"
- repo: https://github.com/econchick/interrogate
  rev: 1.4.0
  hooks:
  - id: interrogate
    args: [-c, pyproject.toml]
- repo: https://github.com/terrencepreilly/darglint
  rev: v1.8.0
  hooks:
  - id: darglint
    args: [-v 2]  # this config makes the error messages a bit less cryptic.
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.9.2
  hooks:
    - id: flake8
      args: [--exclude, nbconvert_config.py]
