[tool.black]
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  | env
  | venv
)/
'''
include = '\.pyi?$'
line-length = 79
target-version = ['py37', 'py38']

[tool.interrogate]
exclude = ["setup.py", "docs", "build", "tests", "nbconvert_config.py"]
fail-under = 81
ignore-init-method = true
ignore-init-module = true
ignore-module = false
ignore-private = false
ignore-semiprivate = false
quiet = false
verbose = 2
