# This workflow automatically updates PR branches with latest changes on target branch.
# See: https://github.com/marketplace/actions/auto-update
name: autoupdate
on:
  # This will trigger on all pushes to all branches.
  push: {}
jobs:
  autoupdate:
    name: autoupdate
    runs-on: ubuntu-20.04
    steps:
      - uses: docker://chinthakagodawita/autoupdate-action:v1
        env:
          GITHUB_TOKEN: "${{ secrets.GHPAGES_TOKEN }}"
          PR_READY_STATE: "ready_for_review"
